 @import url(../reindeer/styles.css);



.green {
    color: green;
}

.v-table-caption-container {
    text-align: center;
    font-size: 9pt;
}

.v-table-cell-wrapper {
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
}

.v-table-cell-content-cellcolored:hover{
    background: #C3D9EE;
    color: red;
}

.v-table-row-odd  {
    background-color: #F6F7F7;
}

.v-table {
    padding-top: 5px;
    height: 230px;
}

.v-label {
    padding-bottom: 5px;
    font-size: 14pt;
}
