 @import url(../runo/styles.css);
/* Using the old default theme (runo) as the basis for now */

.green {
    color: green;
}

.v-table-cell-content-cellcolored:hover{
    background: #C3D9EE;
    color: red;
}

.v-table-row-odd  {
    background-color: #F6F7F7;
}